<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jasperxu.app"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17"/>

    <!--访问网络的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--操作sd卡的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name="MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".study.AddViewByCodeActivity"
                android:label="Add View By Code"/>
        <activity
                android:name=".StudyMainActivity"
                android:label="Study"/>
        <activity
                android:name=".study.DownloadFileActivity"
                android:label="Download File"/>
        <activity
                android:name=".study.JsonParseActivity"
                android:label="Json Parse"/>
        <activity
                android:name=".study.SQLiteActivity"
                android:label="SQLite"/>
        <activity
                android:name=".study.FileAndPathActivity"
                android:label="File And Path"/>
        <activity
                android:name=".DemoMainActivity"
                android:label="Demo"/>
        <activity
                android:name=".demo.ContentActivity"
                android:label="内容"/>
        <activity
                android:name=".demo.DirectoryActivity"
                android:label="目录"/>
        <activity
                android:name=".study.GestureActivity"
                android:label="Gesture"/>
    </application>
</manifest>
